.Reserve {
  padding: 0px 20px;
  .GuestHousePreview {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px;
    border: solid 1px black;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 14px;
    gap: 10px;
    .label {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
