.Home {
  padding: 20px;
  padding-top: 0px;
  .post-group {
    bottom: 80px;
    right: 10px;
    position: absolute;
    background-color: royalblue;
    box-shadow: 0 3px 12px 0 rgba(11, 55, 75, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    border-radius: 40px;
    width: 70px;
    height: 70px;
  }
}

.GroupPreview {
  display: flex;
  padding: 10px 10px;
  border: solid 1px black;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
  .label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .name {
    text-align: left;
    width: 40%;
  }
}
