.Recommend {
  padding: 0px 20px;
  .btn-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    button {
      outline: none;
      display: block;
      width: 47%;
      background-color: steelblue;
      color: #fff;
      border: none;
      padding: 10px;
      font-size: 16px;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      &.select {
        opacity: 1;
        background-color: blue;
      }
    }
  }
  .message {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    line-height: 2;
  }
}

.RecommendView {
  .type {
    span {
      font-size: 18px;
      margin-left: 20px;
      padding: 5px 10px;
      background-color: blue;
      color: #fff;
      border-radius: 30px;
    }
  }
  .place-view {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    .name {
      font-weight: bold;
    }
    .category {
      font-weight: bold;
    }
    a {
      text-decoration: underline;
    }
  }
}

.TestView {
  .question {
    display: flex;
    border: solid 1px black;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    .txt {
      padding: 10px;
      font-size: 16px;
    }
    .btn-area {
      width: 30%;
      min-width: max-content;
      .select-btn {
        outline: none;
        display: block;
        border: none;
        padding: 5px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        &.select {
          background-color: black;
          color: white;
          opacity: 1;
        }
      }
    }
  }
}
