.Post {
  font-size: 16px;
  padding: 20px;
  padding-top: 0px;
  .label {
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
    margin-bottom: 10px;
  }
  .pf-input {
    font-size: 16px;
    width: calc(100% - 44px);
    padding: 5px 20px;
    margin-bottom: 10px;
  }
  .date-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .date-input {
      display: block;
      width: 40%;
      padding: 5px;
    }
  }
  .capacity-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .minus-btn,
    .plus-btn {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 18px;
      border-radius: 2px;
      cursor: pointer;
      border: solid 2px slategray;
    }
    .number {
      width: 100px;
    }
  }
}
