.App {
  max-width: 400px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  .body {
    height: calc(100vh - 50px);
    overflow: scroll;
  }
  .nav-flex {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: solid 1px black;
    align-items: center;
    height: 50px;
    .nav {
      display: block;
      cursor: pointer;
    }
  }
}

.PopUp {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: rgba(gray, 0.2);
  .content-box {
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(11, 55, 75, 0.32);
  }
  .btn-flex {
    display: flex;
  }
}
.GroupView {
  font-size: 16px;
  .label {
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
    margin-bottom: 10px;
  }
  .item {
    margin-bottom: 20px;
  }
  .member {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .leader {
      border-radius: 15px;
      padding: 3px 10px;
      font-size: 12px;
      background-color: blue;
      color: #fff;
      left: 0;
      position: absolute;
    }
  }
}

.GuestHouseView {
  font-size: 16px;
  .label {
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
    margin-bottom: 10px;
  }
  .item {
    margin-bottom: 20px;
  }
  .member {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .leader {
      border-radius: 15px;
      padding: 3px 10px;
      font-size: 12px;
      background-color: blue;
      color: #fff;
      left: 0;
      position: absolute;
    }
  }
}

.request-btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 30px;
}
